body {
	text-align: center;
}

canvas {
	margin: auto;
}

#container {
	width: 505px;
	margin: auto;
}

#panel {
	font: normal 2rem Arial, sans-serif;
	text-align: left;
}

#score {
	display: inline;
	color: #4f67d3;
}

#message {
	font: bold 2rem Arial, sans-serif;
	color: #5ee6ff;
	text-shadow: 0 4px 8px rgba(0,0,0,1);
	position: fixed;
	width: 100%;
	top: 310px;
	left: 0;
}