body {
	text-align: center;
}

canvas {
	margin: auto;
}

#container {
	width: 505px;
	margin: auto;
}

#panel {
	font: normal 2rem Arial, sans-serif;
	text-align: left;
}

#score {
	display: inline;
	color: #4f67d3;
}
